# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_db

MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=students_db

# Keycloak Configuration
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Service Ports
EUREKA_PORT=8761
API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
AUTH_SERVICE_NODE_PORT=3001
COURSES_SERVICE_PORT=8082
STUDENT_SERVICE_PORT=8083
COMPLAINTS_SERVICE_PORT=8084
CLUBS_SERVICE_PORT=8085
QUIZ_SERVICE_PORT=8086
FRONTEND_PORT=4200

# Keycloak
KEYCLOAK_PORT=9090

# Database Ports
POSTGRES_PORT=5432
MYSQL_PORT=3306

# Network
NETWORK_NAME=microservices-network
